In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.ensemble import IsolationForest

In [2]:
path = 'D:/Study/McGill University - MMA/Courses/INSY 695/Team Project/Data/'
df_raw = pd.read_csv(path+"media prediction and its cost NEW.csv")

In [3]:
num_cols, cate_cols, pre_dum_cols = [], [], []
for c in df_raw.columns:
    uni_len = len(set(df_raw[c]))
    dtype = df_raw[c].dtypes

    if dtype == object:
        cate_cols.append(c)
    else: # dtype == float
        if uni_len == 2:
            pre_dum_cols.append(c)
        elif uni_len < 10:
            num_cols.append(c)
            print("Number of unique values: %d \t Datatype: %s \t Column name: %s" %(uni_len, dtype, c))
        else:
            num_cols.append(c)

Number of unique values: 6 	 Datatype: int64 	 Column name: unit_sales(in millions)
Number of unique values: 6 	 Datatype: int64 	 Column name: total_children
Number of unique values: 5 	 Datatype: int64 	 Column name: avg_cars_at home(approx)
Number of unique values: 6 	 Datatype: int64 	 Column name: num_children_at_home
Number of unique values: 5 	 Datatype: int64 	 Column name: avg_cars_at home(approx).1

In [4]:
df_raw.head()

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4,Bag Stuffers,USA,M,F,...,8670,5415,13610,1,1,1,1,1,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4,Bag Stuffers,USA,M,F,...,18670,5415,3610,1,1,1,1,1,"Daily Paper, Radio",126.62
2,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3,Cash Register Lottery,USA,M,M,...,18670,5415,3610,1,1,1,1,1,"Daily Paper, Radio",59.86
3,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2,High Roller Savings,USA,S,F,...,18670,5415,3610,1,1,1,1,1,"Daily Paper, Radio",84.16
4,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2,Cash Register Lottery,USA,M,F,...,18670,5415,3610,1,1,1,1,1,In-Store Coupon,95.78

# Model Development

In [5]:
y = df_raw['cost']
X = df_raw.drop(columns = ['cost'])
X = pd.get_dummies(X)

In [6]:
from sklearn.model_selection import train_test_split
X_train_final, X_test_final, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [7]:
X_test_final, X_val_final, y_test, y_val = train_test_split(X_test_final, y_test, test_size = 0.5, random_state = 0)

# TPOT

In [8]:
! pip install tpot

Requirement already satisfied: tpot in c:\users\raman\anaconda3\lib\site-packages (0.11.7)
Requirement already satisfied: stopit>=1.1.1 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (1.1.2)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (1.2.1)
Requirement already satisfied: scipy>=1.3.1 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (1.6.2)
Requirement already satisfied: deap>=1.2 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (1.3.3)
Requirement already satisfied: numpy>=1.16.3 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (1.20.1)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (4.59.0)
Requirement already satisfied: xgboost>=1.1.0 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (1.7.3)
Requirement already satisfied: update-checker>=0.16 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (0.18.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (1.2.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\raman\anaconda3\lib\site-packages (from tpot) (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\raman\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\raman\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\raman\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->tpot) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\raman\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->tpot) (2.1.0)
Requirement already satisfied: requests>=2.3.0 in c:\users\raman\anaconda3\lib\site-packages (from update-checker>=0.16->tpot) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\raman\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\raman\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\raman\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\raman\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2022.6.15)

In [9]:
from tpot import TPOTRegressor
tpot = TPOTRegressor(generations=5, population_size=50, verbosity=2, random_state=0)
tpot_model = tpot.fit(X_train_final, y_train)
y_val_pred_tpot = tpot_model.predict(X_val_final)

Optimization Progress:   0%|          | 0/300 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: -1.1228307693669495

Generation 2 - Current best internal CV score: -1.1228307693669495

Generation 3 - Current best internal CV score: -1.1228307693669495

Generation 4 - Current best internal CV score: -1.1228307693669495

Generation 5 - Current best internal CV score: -1.1228307693669495

Best pipeline: ExtraTreesRegressor(input_matrix, bootstrap=False, max_features=0.25, min_samples_leaf=3, min_samples_split=4, n_estimators=100)

In [10]:
from sklearn.metrics import mean_squared_error
tpot_pred_mse = mean_squared_error(y_val, y_val_pred_tpot, squared=False)
tpot_pred_mse

0.9168477796296907